@font-face {
  font-family: "OpenSans Bold";
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans Regular";
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}
body {
  width: 100%;
  margin: 0;
} 

ul, ol {
   padding: 0;
   margin: 0;
   list-style: none;
}



.header {
  position: relative;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: #000000;
  min-width: 1200px;
}

.header::after {
  content:"";
  position: absolute;
  opacity: 0.6; 
  background-color: #000000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container { 
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;

  z-index: 2;
  position: relative;
}

.container-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  margin-bottom: 120px;
}

.header-logo {
  width: 179px;
  height: 41px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
}

.menu-list-item {
  vertical-align: top;
  list-style-type: none;
}

.menu-list-item:nth-child(n+2) {
  margin-left: 39px;
}

a {
  text-decoration: none;
}

.menu-link {
  font-family: "OpenSans Regular";
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
  }
.menu-link:hover{
  text-decoration: underline
}


h1 {
  margin: 0;
}

.headline {
  width: 730px;
  padding-left: 230px;
  padding-right: 230px;
  padding-bottom: 140px;
  text-align: center;
  font-family: "OpenSans Bold";
  font-weight: bold;
  font-size: 45px;
  line-height: 75px; 
  color: #ffffff;
  text-transform: uppercase;
}

.triends {
  display: flex;
  margin-top: 50px;
  z-index: 2;
}

.triends-list {
  display: flex;
}
.triends-titie{
  font-family: "OpenSans Bold";
  font-weight: bold;
  font-size: 20px;
  line-height: 24px; 
  color: #0f0d0e;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  margin-left: 46.5%;
}
.triends-titie::after{
content: "";
display: block;
position: absolute;
height: 2px;
width: 100px;
margin-top: 2em;
left: 49%;

background-color: #b59f5b;}

.triends-item {
  display: flex;
  max-width: 24%;
  margin-right: 10px;
  min-height: 320px;
  padding: 0px 30px ;
  align-items: flex-end;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 414px 320px; 
}
.triends-item::after {
  content:"";
  position: absolute; 
 }
.triends-border {
  border: 3px solid #b59f5b;
  padding-top: 35px;
  padding-left: 35px;
  padding-bottom: 33px;
  padding-right: 25px;
}
.text{
  font-family: "OpenSans Bold";
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}


.triends-garden{
  background: url("https://github.com/netology-code/mq-diploma/blob/master/sources/img/trend1.jpg?raw=true");
  opacity: 0.6; 
  background-color: #000000;
  
}
.triends-cheese {
  background: url("https://github.com/netology-code/mq-diploma/blob/master/sources/img/trend2.jpg?raw=true");
  
}

.triends-mountains {
  background: url("https://github.com/netology-code/mq-diploma/blob/master/sources/img/trend3.jpg?raw=true");
   
}

.triends-lemon {
  background: url("https://github.com/netology-code/mq-diploma/blob/master/sources/img/trend4.jpg?raw=true");
  
}
.category {
  display: flex;
	justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 15px;
  list-style-type: none;
}
.category-item {
  font-family: "OpenSans Bold";
  font-weight: bold;
  font-size: 14px;
  color: #b59f5b;
  text-transform: uppercase;
  text-decoration: none;
  word-spacing: normal;
}
.category-name:nth-child(n+2) {
	margin-left: 15px;
}
.category-name {
  margin: 0;
}

.container-main {
  width: 778px;
  padding-left: 15px;
  padding-top: 64px;
  padding-bottom: 70px;
}

.cards {
  width: 778px;
  margin: 0;
}

.card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 778px;
}

.card:nth-child(n+2) {
  margin-top: 60px;
}

.card-image {
  min-width: 381px; 
  min-height: 300px;
  margin-right: 30px;
}

.card-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.card-header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
}








.card-name {
  font-family: "OpenSans Bold";
  font-weight: bold;
  font-size: 20px;
  line-height: 24px; 
  color: #0f0d0e;
  text-transform: uppercase;
  margin-top: 0;
}

.card-name-link {
	text-decoration: none;
	color: #0f0d0e;
}
.card-info {
  margin-bottom: 15px;
}

.card-date {
  font-family: "OpenSans Regular";
  font-weight: 400;
  font-size: 12px;
  color: #888888;
  text-transform: capitalize; 
  margin-right: 15px;
}

.card-author {
  font-family: "OpenSans Bold";
  font-weight: bold;
  font-size: 12px;
  color: #000000;
 text-transform:none;
}
.paragraph{
  font-family: "OpenSans Regular";
  font-size: 15px;
}
 


.common-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content:space-around ;
  width: 1660px;
  margin-left: auto;
  margin-right: auto;

}
aside section:nth-of-type(n+2) {
	margin-top: 60px;
}


.sidebar {
  padding-right: 15px;
  padding-top: 64px;
}

.column-posts {
  width: 272px;
  margin: 0;
  text-align: justify;
  font-family: "OpenSans Regular";
  font-weight: 400;
  font-size: 15px;
  line-height: 22px; 
  color: #000000;
  text-transform: inherit;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
}

.column-posts-title, 
.subscribe-title, 
.tags-title, 
.categories-title {
  display: inline-block;
  width: 272px;
  margin: 0;
  font-family: "OpenSans Bold";
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 45px;
  text-decoration: none;
}
.column-posts-title::after,
.subscribe-title::after,
.tags-title::after::after{
  content: "";
	display: block;
	position: absolute;
	height: 2px;
	width: 60px;
	bottom: 35px;
	left: 50%;
	margin-left: -30px;
	background-color: #b59f5b;
}
.card-name-link:hover,
.column-post-link:hover,
.cat-tag-link:hover{
  color:#b59f5b;
}

.tag-link:hover{
  border: 2px solid  #b59f5b;
}
.subscribe-part ,.column-posts{
  text-align: center;
  font-size: 14px;
  line-height: 31px;
  font-family:"OpenSans Bold";
  text-transform: uppercase;
  margin: 0em;
  margin-bottom: 30px;
}
.subscribe-part,.column-posts::after {
  content: "";
  width: 67px; 
  height: 2px; 
  background-color: #b59f5b;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.column-post-link {
  color: #000000;
}

.column-post {
  width: 272px;
  height: 70px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
}
form {
  display: block;
  margin-top: 0em;
}


.column-post-image {
  min-width: 72px;
  min-height:70px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
}




.column-post-date {
  font-family: "OpenSans Regular";
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  text-transform: inherit;
}

.column-post-name {
  font-family: "OpenSans Bold";
  font-weight: bold;
  font-size: 14px;
  color: #0f0d0e;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
}

.search {
  width: 272px;
  display: flex;
  margin-top: 60px;
  box-sizing: border-box;
}

.search-text-input:focus {
  color:#b59f5b;  
  outline-style: solid  ;
  outline-width:2px;
 
} 

.button-search {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: none;
  background-color: #b59f5b;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
   cursor: pointer;
}
.button-search:hover {
  border: none;
  background:  #000000;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
}
.subscribe-button:hover { 
  background:  #000000; 
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

input:focus {
	outline: none;
  
}

.search-text-input {
  width: 190px;
  padding-left: 20px;
	border: 0;
  font-family: "OpenSans Regular";
	font-weight: 400;
	font-size: 13px;
	color: #a2a4a3;
  
    height: 48px;
  margin: 0;
  padding: 0 15px;
 
  background-color: #f4f7f6;
}




.email {
	width: 252px;
	height: 48px;
	background-color: #f4f7f6;
	margin-bottom: 20px;
  font-family: "OpenSans Regular";
	font-weight: 400;
	font-size: 13px;
	color: #a2a4a3;
	padding-left: 10px;
  padding-right: 10px;
	border: 0;
}
 .email:focus {
  color:#b59f5b;  
  outline-style: solid;
  outline-width:2px;
} 

.subscribe-button {
	border: none;
	width: 272px;
	height: 48px;
	background-color: #b59f5b;
	text-transform: uppercase;
	font-family: "OpenSans Bold";
	font-weight: bold;
	color: #ffffff;
	cursor: pointer;
}

.tags, .categories {
	width: 272px;
}

.tags-part {
  position: relative;
}

.tag-list, .category-list {
	display: flex;
	flex-wrap: wrap;
}

.tag-list {
  margin: -2px;
}

.tag-list-item {
  margin: 10px 2px;
}

.tag-list-item:nth-child(n+2) {
	margin-left: 5px;
}

.tag-link {
	font-family: "OpenSans Bold";
	font-weight: bold;
  font-size: 12px;
	color: #0f0d0e;
  text-transform: uppercase;
  border: 2px solid #eeeeee;
	padding: 5px 10px;
}

.cat-tag-link {
	font-family: "OpenSans Bold";
	font-weight: bold;
  font-size: 12px;
	color: #0f0d0e;
}

.categories-part {
  position: relative;
}

.category-list {
	flex-direction: column;
}

.categ-list-item {
	padding-bottom: 15px;
	border-bottom: 1px solid #eeeeee;
  list-style-type: none;
}

.categ-list-item:nth-child(n+2) {
	margin-top: 15px;
}
.products {
  margin-top: 57px;
  margin-bottom: 70px;
}
.products-title {
  display: flex;
  font-family: "OpenSans Bold";
  font-weight: bold;
  font-size: 20px;
  line-height: 24px; 
  color: #0f0d0e;
  text-transform: uppercase;
  align-items: center;
  margin-left: 46%;
  margin-bottom: 40px;
  text-align: center;
}
.products-title::after{
  content: "";
display: block;
position: absolute;
height: 2px;
width: 100px;
margin-top: 2em;
left: 49%;
background-color: #b59f5b;
}

.products-list {
  display: flex;
  justify-content: space-between;
 
}

.products-item {
  
  width: 27%;
 
}
  

.products-item-title {
  display: flex;
  font-family: "OpenSans Bold";
  font-weight: bold;
  font-size: 20px;
  line-height: 24px; 
  color: #0f0d0e;
  margin-top: 20px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.border-products {
  border: 3px solid #b59f5b;
  margin-top: -50px;
 
}



.products-descr {
  font-family: "OpenSans Regular";
  font-size: 15px;
  font-weight: bold;
  color: #000;
  line-height: 22px;
}

.products-descr-link {
  font-family: "OpenSans Regular";
  font-size: 15px;
  font-weight: bold;
  color: #b59f5b;
  text-decoration: none;
}

.price {
  color: #0f0d0e;
  font-weight: bold;
}

.shop {
  
  background-color: #b59f5b;
  color: #fff;
  text-decoration: none;
  padding: 16px 25px;
  text-transform: uppercase;
  font-weight: bold;
  /* margin-bottom: 50px; */
  
}

.products-shop {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  align-items: center;
}

.new-price {
  font-size: 20px;
}

.old-price {
  text-decoration: line-through;
}

.index {
  vertical-align: super;  
  font-family: "Open Sans", sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #b59f5b;
}

.footer {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 70px;
	width: 1170px;
}

.address {
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f4f7f6;
	margin-bottom: 70px;
}


.socials-link {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}


.socials-link-dribbble{
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg");
}
.socials-link-pinterest {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg");
}

.socials-link-tumblr {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
}

.social-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
   
  padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.social-logo:nth-child(n+2) {
	margin-left: 25px;
}

.socials-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.copyright {
  width: 220px;
	display: block;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	color: #c6c6c6;
	margin-left: auto;
	margin-right: auto;
}

